html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.buttons {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.audio-button {
    width: 100px;
    height: 100px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    border: medium solid #000000;
    border-radius: 69px;
}
